body {
  margin: 0;
  font-family:

    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#calculator {
  background: #fff;
  display: flex;
  justify-content: center;
}

#calculator .result {
  background: #a6a7ab;
  color: #fff;
  border-radius: 5px;
  display: flex;
  font-size: 2rem;
  justify-content: flex-end;
  border: 2px solid #d5d5d5;
  padding: 0.5rem 1rem 0.5rem 0;
}

#calculator table tbody {
  width: 50vw;
  min-width: 20rem;
  max-width: 30rem;
  height: 50vh;
  display: grid;
  box-shadow: 0 5px 18px 1px #9b8f8f;
}

#calculator tbody td {
  padding: 0;
}

#calculator tbody button {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  border-color: #d5d5d5;
  border-width: 1px;
}

.buttons-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.buttons-last-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.orange {
  background: #f5913e;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.home {
  padding: 5rem;
}

h1 {
  text-align: start;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
  background-color: #111;
}

.calculator {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  .calculator {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.quote {
  padding: 5rem;
}
